<%= link_to "Back", root_path, class: "btn btn-primary" %>
<br><br>
<div>
  <h1><%= @post.title %></h1>
  <p><%= simple_format(@post.body) %></p>
  <hr>
  <% if @post.created_at == @post.updated_at %>
    Created at: <%= @post.created_at %>
  <% else %>
    Updated at: <%= @post.updated_at %>
  <% end %>
</div>
<hr>
<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>
<%= link_to 'Delete post', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger" %>
